@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>
        জেনে নিন..<br />
     আপনার অজানা তথ্য!
    </h2>
    <hr />
   
</div><br /><br><br>
<div>
    <h3>বঙ্গবন্ধু ও অবিনাশী চেতনায় স্বাধীনতা</h3>
    <h5>
        পৃথিবীর এক প্রান্ত থেকে প্রান্তে জ্বলন্ত/ ঘোষণার ধ্বনি-প্রতিধ্বনি তুলে/ মতুন নিশান উড়িয়ে, দামামা বাজিয়ে দিগ্বিদিক/ এই বাংলায় তোমাকে আসতেই হবে, হে স্বাধীনতা। -কবি শামসুর রাহমানের কবিতার এই পঙক্তিমালা এ নিবন্ধের উদ্দীপক। <br />স্বাধীনতা ছিল বঙ্গবন্ধুর সময়ের ডাক। কবির আস্থা ছিল বঙ্গবন্ধুর বিজয়ের জ্বলন্ত ঘোষণার ধ্বনি-প্রতিধ্বনি তুলে জাতীয় পতাকা উড়িয়ে, দামামা বাজিয়ে দিগ্বিদিক এই বাংলায় স্বাধীনতা আসবেই। নবীন রক্তের প্রাণস্পন্দন আর আত্মত্যাগের মহিমায় বাঙালিরা স্বাধীনতাকে ছিনিয়ে আনবেই।<br />
        এ দেশ স্বাধীনতার জন্য অনেকবার খাণ্ডবদাহন ও রক্তগঙ্গা দেখেছে। বারবার দানবেরা আমাদের স্বাধীনতাকে হরণ করতে চেয়েছে। এ দেশ বারবার রক্তস্রোতে ভেসেছে, এবার স্বাধীনতা অর্জন করে তবেই ক্ষান্ত হবে এ দেশের মানুষ। তারা অপরিমিত ত্যাগ-তিতিক্ষার পথ বেছে নিয়েছে স্বাধীনতা লাভ করতে। তাই এক অনন্য অনুভবে ঋদ্ধ অধিকারের নাম স্বাধীনতা।<br />
<br>
        আজ ২৬ মার্চ, সেই মহান স্বাধীনতা দিবস। বঙ্গবন্ধুর ২৪ বছরের সংগ্রামের ফসল স্বাধীন বাংলাদেশ বিশ্বের মানচিত্রে একটি নামের অন্তর্ভুক্তি ঘটে। এ দিনে নবীন সূর্যোদয়ের মধ্য দিয়ে আমাদের জাতীয় জীবনে একটি নতুন অধ্যায়ের সূচনা হয়। এ স্বাধীনতা দিবসের আনন্দোজ্জ্বল মুহূর্তের মধ্যে প্রথমেই স্মরণ করতে হয় অসংখ্য দেশপ্রেমিক শহিদের আত্মদানের কথা। ১৯৭১ সালের এই দিনে বাংলার মানুষ পাকিস্তানি ঔপনিবেশিক স্বৈরশাসনের ২৪ বছরের গ্লানি থেকে খুঁজে পেয়েছিল মুক্তির পথ। -(সংক্ষেপিত)
    </h5>
</div>
